
<div  >
  <div nz-row  >
    <div nz-col    nzXs="12" nzSm="12" nzMd="8" nzLg="8" nzXl="6" *ngFor="let productyi of products">
      <div class="inner-box">
        <nz-card style="margin: 10px;" [nzCover]="coverTemplate">
          <a [routerLink]="['detailpage',productyi.id]"><nz-card-meta nzTitle={{productyi.name}}  nzDescription="main property:{{productyi.mainProperty}}" ></nz-card-meta> </a>
        </nz-card>
       
        <ng-template #coverTemplate>
          <img alt="example" src={{productyi.img}} width="200px"
      height="200px"  />
        </ng-template>

      </div>
    </div>
    
  </div>

</div>


<section class="content">
  <router-outlet></router-outlet>
</section>
<app-heroes></app-heroes>
<app-footer></app-footer>

